<app-nav-bar [source]="dashObj"></app-nav-bar>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-lg-2 mt-4">
  <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modalPoll-1" (click)="addNew()">Add New</button>
  </div>
  </div>
  <div class="scroll">
   <table class="table mt-4">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of productsList; index as i">
      <th scope="row">{{i+1}}</th>
      <td>{{item.productName}}</td>
      <td>{{item.quantity}}</td>
      <td>{{item.price}}</td>
    </tr>
    
  </tbody>
</table>
</div>
  </div>


  <!-- <button type="button" class="btn btn-primary" >Launch
    modal</button>
   -->
  <!-- Modal: modalPoll -->
  <!-- <div class="modal fade right" id="modalPoll-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document"> -->
      <ng-template #editModal let-modal>
        <form [formGroup]="productForm" (ngSubmit)="onProductSubmit()">
       <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
          <p class="heading lead">New Product
          </p>
  
          <button type="button" (click)="modal.close()" class="btn btn-primary"><span>x</span>
          </button>
        </div> 
  
        <!--Body-->
        <div class="modal-body">
          
         
          <p class="text-center">
            <strong>New Arrival!</strong>
          </p>
            <div class="form-label-group mb-4">
              <label for="mb-1">Product Name</label>
                <input type="text"  class="form-control" placeholder="Product Name" formControlName="productName">
            </div>
            <div class="form-label-group mb-4">
              <label for="mb-1">Quantity</label>
                <input type="number"  class="form-control" placeholder="Quantity" formControlName="quantity">
            </div>
            <div class="form-label-group mb-4">
              <label for="mb-1">Reorder Quantity</label>
                <input type="number"  class="form-control" placeholder="Reorder Quantity" formControlName="reOrderQuantity">
            </div>
            <div class="form-label-group mb-4">
              <label for="mb-1">Category</label>
                <input type="text"  class="form-control" placeholder="Product Name" formControlName="productName">
            </div>
            <div class="form-label-group mb-4">
              <label for="mb-1">Brand Name</label>
                <input type="text"  class="form-control" placeholder="Product Name" formControlName="productName">
            </div>
            <div class="form-label-group mb-4">
              <label for="mb-1">Delaer</label>
                <input type="text"  class="form-control" placeholder="Product Name" formControlName="productName">
            </div>
            <div class="form-label-group mb-4">
              <label for="mb-1">Price</label>
                <input type="number"  class="form-control" placeholder="Price" formControlName="price">
            </div>
  
        </div>
  
        <!--Footer-->
        <div class="modal-footer justify-content-center">
          <button type="submit" class="btn btn-primary waves-effect waves-light">Send
            <!-- <i class="fa fa-paper-plane ml-1"></i> -->
          </button>
          <button type="button" class="btn btn-outline-primary waves-effect" (click)="modal.close()">Cancel</button>
        </div>
      </div> 
      </form>
    </ng-template>
    <!-- </div>
  </div> -->
  <!-- Modal: modalPoll -->