<app-nav-bar [source]="saleObj"></app-nav-bar>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-lg-2 mt-4">
      <img src="assets/add_shopping_cart-black-18dp.svg" (click)="openCart()"><span
        class="badge badge-danger">{{cartCount}}</span>

    </div>
  </div>
  <div class="scroll">
    <table class="table mt-4 table-scroll">
      <thead class="thead-maroon">
        <tr>
          <th scope="col"></th>
          <th scope="col">Product Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody class="body-half-screen">
        <tr *ngFor="let item of productsList">
          <td> </td>
          <!--input type="checkbox" [value]="item.select" (change)="selectProduct($event,item._id)"-->
          <td>{{item.productName}}</td>
          <td>
            <button type="button" class="btn btn-primary mr-1" (click)="decreaseQty(item._id)"
              [disabled]="item.disableDecrease">-</button>
            <input class="form-text-input width" type="number" [value]="item.qtyRequired"
              (change)="changeQty($event,item._id)">
            <button type="button" class="btn btn-primary ml-1" (click)="increaseQty(item._id)"
              [disabled]="item.disableIncrease">+</button>
            <span class="badge badge-success">/{{item.quantity}}</span>
          </td>
          <td>{{item.price | currency:'INR':'symbol'}}</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

<app-invoice *ngIf="invoice" [pdfAction]="any" [products]="invoiceProducts" (afterInvoice)="postInvoice($event)">
</app-invoice>

<ng-template #cartModal let-modal>
  <div class="modal-header">
    <p class="heading lead">Items in the Cart
    </p>

    <button type="button" (click)="modal.close()" class="btn btn-primary"><span>x</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="container-fluid">
      <table class="table table-scroll">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Qty</th>
            <th scope="col">Tax</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody class="cartbody-half-screen">
          <tr *ngFor="let item of cartItems">
            <th scope="row"><button type="button" (click)="removeItem(item._id)" class="btn btn-primary"><span>x</span>
              </button></th>
            <td>{{item.productName}}</td>
            <td>{{item.qtyRequired}}</td>
            <td>{{item.TaxPrice | currency:'INR':'symbol'}}</td>
            <td>{{item.qtyRequired * (item.price + item.TaxPrice) | currency:'INR':'symbol'}}</td>
          </tr>
          <tr *ngIf="cartItems.length == 0">
            <td>No Items in the Cart</td>
          </tr>

        </tbody>
      </table>
    </div>

    <div class="container cart-form">
      <p class="heading lead">Billing Details
      </p>
      <div class="row">
        <div class="col-md-6">
          <input type="text" [(ngModel)]="fName" class="form-control" placeholder="First Name" />
        </div>
        <div class="col-md-6">
          <input type="text" [(ngModel)]="lName" class="form-control" placeholder="Last Name" />
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12">
          <textarea [(ngModel)]="address" class="form-control" rows="3" placeholder="Address"></textarea>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-6">
          <input type="email" [(ngModel)]="email" class="form-control" placeholder="Email" />
        </div>
        <div class="col-md-6">
          <input type="number" [(ngModel)]="phone" class="form-control" placeholder="Phone Number" />
        </div>
      </div>
    </div>

  </div>
  <!--Footer-->
  <div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-outline-primary waves-effect" (click)="clearCart()">Clear Cart</button>
    <button type="submit" class="btn btn-primary waves-effect waves-light" (click)="generateInvoice()"
      [disabled]="cartItems.length == 0">Generate
      Invoice
    </button>
  </div>
</ng-template>