.thead-maroon{
    background-color: #ff4b5c !important;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  #lblCartCount {
      font-size: 12px;
      background: #ff0000;
      color: #fff;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -10px; 
  }

  .width {
    width: 15%;
    border-color: #0a47ca;
  }
  
  .cart-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
  
@media screen and (min-width: 992px) {
  .modal-lg {
    width: 950px; /* New width for large modal */
  }
}