.section {
    position: relative;
    padding: 110px 0;
}

.padding{
    padding-top: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0.75rem;
}

.cust {
    padding-left: 200px;
}

#div {
    background: #e9e9e9;
    opacity: 0.5;
  }
