<app-nav-bar></app-nav-bar>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-lg-2 mt-4">
  <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modalPoll-1" (click)="addNew()">Add New User</button>
  </div>
  </div>
   <table class="table mt-4">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">User Name</th>
      <th scope="col">Super Admin</th>
      <th scope="col">Phone Number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
  </div>


 
      <ng-template #editModal let-modal>
        <form [formGroup]="userForm" (ngSubmit)="onUserSubmit()">
       <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
          <p class="heading lead">New Product
          </p>
  
          <button type="button" (click)="modal.close()" class="btn btn-primary"><span>x</span>
          </button>
        </div> 
  
        <!--Body-->
        <div class="modal-body">
          
         
          <p class="text-center">
            <strong>New Staff!</strong>
          </p>
            <div class="form-label-group mb-4">
              <label for="mb-1"> User Name</label>
                <input type="text"  class="form-control" placeholder="Name" formControlName="userName">
            </div>
            <div class="form-label-group mb-4">
              <label for="mb-1">Password</label>
                <input type="password"  class="form-control" placeholder="Password" formControlName="password">
            </div>
            <div class="form-label-group mb-4">
              <label for="mb-1">Re Enter Password</label>
                <input type="text"  class="form-control" placeholder="Password" required autofocus>
            </div>
            <div class="form-label-group mb-4">
              <label for="mb-1">Phone Number</label>
                <input type="number"  class="form-control" placeholder="Price" formControlName="phoneNumber">
            </div>
            <div class="form-label-group mb-4">
              <label for="mb-1"> Super Admin </label>
            <label class="switch">
              <input type="checkbox" formControlName="superAdmin">
              <span class="slider round"></span>
            </label>
            </div>
  
        </div>
  
        <!--Footer-->
        <div class="modal-footer justify-content-center">
          <button type="submit" class="btn btn-primary waves-effect waves-light">Save
          </button>
          <button type="button" class="btn btn-outline-primary waves-effect" (click)="modal.close()">Cancel</button>
        </div>
      </div> 
    </form>
    </ng-template>
  